<!DOCTYPE html>
<html lang="es">
<!-- -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f49c1e77a4.js" crossorigin="anonymous"></script>
    <!-- Css -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalle de producto</title>
</head>

<body class="home">
    <header>
        <div class="top">
            <div class="logo">
                <a href="/">
                    <img src="/images/logoprovisorio.jpg" alt="logo de página" >
                </a>
            </div>
        </div>
        <div class="burger">
            <!-- <input type="none" name="burger" id="burger" checked>-->
            <label for="burger"><i class="fas fa-bars"></i></label>
            <nav>
                <ul type="none" class="menu">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#">Carrito</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <ul type="none" class="user">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Registro</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="libro">
            <!--Producto-->
            <h1  class="titulo">Drácula, Bram Stoker</h1>
            <div class="producto"> <img  src="/images/DraculaCover.jpg" alt="imagen del producto"> </div>
            <p class="precio">$6.079 </p> <p>ó en 12x de 1021 pesos con 58
                centavos $1.02158 pagando con Mercado Crédito</p>
        </section>
        <section class="descripción">
        <h3>Caracteristicas principales</h3>
        <p>
            Título del libro : Drácula (english Edition) <br>
            Autor : Stoker, Bram <br>
            Idioma : Inglés <br>
            Editorial del libro : CreateSpace Independent Publishing Platform <br>
            Tapa del libro : Blanda <br>
            Año de publicación : 2018 <br>
            Modelo : Inglés <br>
            </p>
        </section>
        <article>
            <!--Productos parecidos-->
        </article>
        <article>
            <!--Productos parecidos-->
        </article>
        <article>
            <!--Productos parecidos-->
        </article>
    </main>
    <footer>
        <div class="logo">
            <a href="/">
                <img src="/images/logoprovisorio.jpg" alt="logo de página" >
            </a>
        </div>
        <nav>
            <ul type="none" class="footer">
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <p>Todos los derechos reservados bla bla bla</p>
    </footer>
</body>

</html>