header {
    background-color: var(--rojizo);
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

header .burger {
    margin-top: 20px;
    margin-left: 10px;
}

header .logo img{
    max-height:80px;
    border-radius: 200px;
    margin: 5px;   
}

header .cart {
    margin-top: 20px;
    margin-right: 10px;
}

header .lupa{
    padding: 5px;
    flex-direction: column;
    align-items: flex-end;
}
/*tablet*/ /*
@media (min-width:460px) {
    header{

    }
}
*/
/*desktop*/
/*
@media (min-width:768px) {
    header{

    }
}*/
