/*caja de header*/
header {
    background-color: var(--rojizo);
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
/*burger, logo y carrito*/
header .top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1px;
}
header .burger {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.5em;
}
header .logo img{
    max-height:80px;
    border-radius: 200px;
    margin-top: 5px; 
    margin-bottom: 30px;
    align-self: center;
}
header .cart {
    margin-top: 20px;
    margin-right: 10px;
    font-size: 1.5em;
}
/*lupa y barra de busqueda*/
header .busqueda{
    background-color:var(--amarillo);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end; 
}
header .lupa{
    font-size: 1.1em;
    margin: 5px;
    margin-right: 5px;
}
/*tablet*/ /*
@media (min-width:460px) {
    header{

    }
}
*/
/*desktop*/
/*
@media (min-width:768px) {
    header{

    }
}*/
