
/*enlaces con color negro*/
a {
    color: black;
    text-decoration: none;
}
/*fondo del body*/
body .home {
    background-color: rgb(214, 141, 141);
}
/*main*/
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*portada del libro, titulo, precio*/ 
main .libro{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
main .portada{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
main .portada img{
    height: 315px;

}
main .libro .titulo{
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}
main .libro .precio{
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin: 5px 10px;
}
/* iconos de tarjeta de credito o efectivo*/
main .promos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
main .efectivo ,
main .credito{
    width: 100%;
    margin-left:10px;
}
main .promos p{
    width: 100%;
    font-size: small;
}
/*boton de agregar al carrito y caja de envios y compra por local*/
main .compra{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--blanco);
    margin: 20px;
}
main .boton-agregar{
    width: 50%;
    border-radius: 9px;
    font-size:medium;
    color: var(--azul);
    margin-left: 10px;
}
main .envios{
    background-color: var(--azul);
    margin: 20px 10px 10px 10px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
main .envios h4{
    width: 100%;
    margin: 10px 10px;
    text-align: center;
}
main .envios a{
    width: 100%;
    text-align: start;
    font-size:x-small;
    justify-content: flex-start;
    margin-top: 8px;
}
/*descripcion del libro*/
main .descripción{
    width: 90%;
    background-color: var(--white);
    border: 5px solid var(--amarillo);
    border-radius: 4px;
    margin: 10px 20px 10px 20px;
    padding: 5px 5px;
    justify-content: center;
}
main .descripción h3{
    text-align: center;
}
main .descripción p{
    text-align: center;
}
/*espacio de redes sociales*/
main .redes{
    background-color: var(--rojizo);
    margin:20px;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}
main .red-icon{
    margin: 4px;
    font-size: 1.1em;
}
/*productos relacionados*/
main .relacionados{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
main .parecidos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}
main .otroslibros img{
    height: 200px;
    margin: 5px
}

/*tablet*/ /*
@media (min-width:460px) {
    main{

    }
}
*/
/*desktop*/
/*
@media (min-width:768px) {
    main{

    }
}*/


