a {
    color: black;
}

body .home {
    background-color: rgb(214, 141, 141);
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main .titulo{
    text-align: center;
}

main .libro{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main div .portada img {
    max-height:200px;
    margin: 10px 1px;
}

main .descripción{
    background-color: rgb(223, 215, 215);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
}
main .precio{
 font-weight: bold;
 text-align: center;
}

main .libro{
    display:grid;
}
main .portada img{
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

main .promo{

    padding: 20px;
}

